# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
flask==1.1.2
nltk==3.6.1
numpy==1.20.1
pandas==1.2.4
plotly==4.14.3
python==3.9.4
regex==2021.4.4
scikit-learn==0.24.1
sqlalchemy==1.4.7
sqlite==3.35.4
